# data
data

# Docs
dist
build
templates
documents
_minted*
*.pyg*
reviews

# Built by dot
gqm.png
method.png

# misc
other
vendor
prof
.vscode

# Python
.venv
.*cache
*.pyc
*.egg-info
.coverage
coverage.xml
htmlcov
.python-version
__pycache__

# notebooks
.ipynb_checkpoints
notebooks/output
